.m_header {
  padding-left: .8rem;
}
.m_header .m_title {
  transform: translateX(0);
}
.m_header .m_back a i {
  left: 0;
  top: .4rem;
}
.mm_details .dts_content {
  width: 100%;
  padding: .27rem;
  background-color: #fff;
}
.mm_details .dts_content .cont_title {
  margin-bottom: .4rem;
}
.mm_details .dts_content .cont_title h3 {
  font-size: .51rem;
}
.mm_details .dts_content .cont_title .info {
  font-size: .32rem;
  color: #958e8c;
  padding: .4rem 0;
}
.mm_details .dts_content .cont_title .deta_info {
  color: #464955;
  font-size: .35rem;
}
.mm_details .dts_content .cont_title .deta_info img {
  width: 2.67rem;
  height: 2.67rem;
  float: right;
}
.mm_details .dts_content .data_ul {
  width: 3.6rem;
  margin: 0 auto;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.mm_details .dts_content .data_ul ul {
  padding: .13rem;
}
.mm_details .dts_content .data_ul ul li {
  line-height: 0.53rem;
  height: .53rem;
  border-bottom: 1px dashed#c4c4c4;
}
.mm_details .dts_content .data_ul ul a {
  display: block;
  padding: 0 .27rem;
}
.mm_details .dts_content .data_ul ul a strong {
  float: right;
  color: #f18b4b;
}
.mm_details .dts_content .data_buy {
  width: 100%;
  height: .8rem;
  margin-top: .53rem;
  margin-bottom: .67rem;
  padding: 0 .27rem;
}
.mm_details .dts_content .data_buy a {
  display: block;
  font-size: .32rem;
  background-color: #ff9000;
  text-align: center;
  line-height: .8rem;
  color: #fff;
  border-radius: .09rem;
}
.mm_details .dts_content .app_img {
  margin-bottom: .27rem;
}
.mm_details .dts_content .form {
  border: .01rem solid #c4c4c4;
  border-radius: .07rem;
}
.mm_details .dts_content .form textarea {
  width: 100%;
  height: 1.93rem;
  background-color: #fff;
}
.mm_details .dts_content .form .ctrl {
  transform: translateY(-0.07rem);
  overflow: hidden;
  background-color: #fff;
  border-top: .01rem solid #f2f2f2;
}
.mm_details .dts_content .form .ctrl input {
  float: right;
  width: 1.73rem;
  height: .56rem;
  background-color: #ff841d;
  color: #fff;
  border: 0;
}
.mm_details .dts_content .tit {
  font-size: .32rem;
  margin-bottom: .13rem;
}
.mm_details .dts_content .list li {
  overflow: hidden;
  height: 2.67rem;
}
.mm_details .dts_content .list li .userimg {
  width: 1.12rem;
  height: 1.12rem;
  border-radius: 50%;
  float: left;
}
.mm_details .dts_content .list li .userimg img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.mm_details .dts_content .list li .con {
  overflow: hidden;
  height: 100%;
  padding-left: .2rem;
  padding-top: .27rem;
}
.mm_details .dts_content .list li .username {
  float: left;
  color: #4a86c2;
}
.mm_details .dts_content .list li .time {
  float: right;
  color: #7e7f97;
}
.mm_details .dts_content .list li .content {
  font-size: .24rem;
  margin-top: .14rem;
}
