.list_title {
  width: 100%;
  height: 1rem;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  background-image: linear-gradient(#ffffff, #cccccc);
  line-height: 1rem;
  font-size: 0.32rem;
  font-weight: 400;
  padding-left: 0.27rem;
}
.list_title .active {
  width: 1.67rem;
  height: 0.8rem;
  background: #d0d0d0;
  border-radius: 0.13rem;
  background-image: linear-gradient(#d7d7d7, #f5f5f5);
  line-height: 0.8rem;
  display: block;
  float: right;
  text-align: center;
  font-size: 0.32rem;
  margin-top: 0.08rem;
  margin-right: 0.08rem;
}
.list_info ul {
  overflow: hidden;
}
.list_info li {
  width: 100%;
  height: 3.41rem;
  background-color: #fff;
  padding: 0.27rem 0.13rem;
}
.list_info li a {
  width: 100%;
  height: 100%;
  display: block;
}
.list_info li a .left {
  float: left;
  height: 100%;
}
.list_info li a .left img {
  display: block;
  width: 2.67rem;
  height: 2.67rem;
}
.list_info li a .right {
  height: 100%;
  overflow: hidden;
  transform: translateX(0.13rem);
}
.list_info li a .right .info_title {
  font-size: 0.32rem;
  color: #333;
}
.list_info li a .right .info_title p {
  margin-top: 0.27rem;
  color: #e61805;
}
.list_info li a .right .info_other {
  margin-top: 0.27rem;
  color: #a1a1a1;
}
.list_pages {
  width: 100%;
  height: 1.24rem;
  padding-top: .27rem;
}
.list_pages span {
  width: 33.33%;
  height: .93rem;
  background-color: #fff;
  display: block;
  float: left;
}
.list_pages span a,
.list_pages span select {
  width: 2.2rem;
  height: .93rem;
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(#ffffff, #cccccc);
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  font-size: .32rem;
  text-align: center;
  line-height: .93rem;
}
.list_pages span select {
  background-color: #fff;
  background-image: none;
  padding-left: 0.54rem;
}
